.workoutItem {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workoutDetails {
  color: #666;
  margin-left: 1rem;
}

.workoutDate {
  font-weight: bold;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .workoutItem {
    background-color: #333;
  }

  .workoutDetails {
    color: #999;
  }

  .workoutDate {
    color: #ccc;
  }
}
